<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crc.crcloud.steam.iam.dao.IamOrganizationMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crc.crcloud.steam.iam.entity.IamOrganization">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="is_register" property="isRegister"/>
        <result column="user_id" property="userId"/>
        <result column="address" property="address"/>
        <result column="image_url" property="imageUrl"/>
        <result column="scale" property="scale"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
    </resultMap>
    <resultMap id="IamOrganizationWithProjectCountDTOResultMap"
               extends="BaseResultMap"
               type="com.crc.crcloud.steam.iam.model.dto.organization.IamOrganizationWithProjectCountDTO">
        <result column="project_count" property="projectCount"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                     id,
                     name,
                     code,
                     description,
                     is_enabled,
                     is_register,
                     user_id,
                     address,
                     image_url,
                     scale,
                     object_version_number,
                     created_by,
                     creation_date,
                     last_updated_by,
                     last_update_date
        </sql>

    <select id="page" resultMap="IamOrganizationWithProjectCountDTOResultMap">
        <bind name="enables" value="@cn.hutool.core.collection.CollUtil@removeNull(vo.isEnables)"/>
        select
        <include refid="Base_Column_List"/>
        ,project_count
        from
        (
        select org.*, count(pro.id) as 'project_count'
        from iam_organization org
        left join iam_project pro on org.id = pro.organization_id
        group by org.id
        ) as org
        <where>
            <if test="@cn.hutool.core.util.StrUtil@isNotEmpty(vo.name)">
                and name like concat('%',#{vo.name},'%')
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotEmpty(vo.code)">
                and code like concat('%',#{vo.code},'%')
            </if>
            <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(enables)">
                and is_enabled in
                <foreach collection="enables" item="value" separator="," open="(" close=")">${value}</foreach>
            </if>
        </where>
    </select>
    <select id="queryAllOrganization" resultMap="BaseResultMap">
        SELECT
             iam_organization.*
        FROM
            iam_organization
                INNER JOIN iam_member_role
                           ON iam_organization.id = iam_member_role.source_id
                               AND iam_member_role.source_type = 'organization'
                INNER JOIN iam_role
                           ON iam_role.is_enabled = 1 and iam_role.id = iam_member_role.role_id  AND iam_role.id = #{roleId}
        WHERE iam_member_role.member_id = #{userId}
          AND (SELECT iu.current_organization_id FROM iam_user iu WHERE iu.id =#{userId} ) = iam_organization.id
          AND iam_organization.is_enabled = 1
    </select>


</mapper>
