<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crc.crcloud.steam.iam.dao.IamProjectMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crc.crcloud.steam.iam.entity.IamProject">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="organization_id" property="organizationId"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="image_url" property="imageUrl"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="type" property="type"/>
        <result column="category" property="category"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                     id,
                     name,
                     code,
                     description,
                     organization_id,
                     is_enabled,
                     image_url,
                     object_version_number,
                     created_by,
                     creation_date,
                     last_updated_by,
                     last_update_date,
                     type,
                     category
        </sql>
    <update id="updateBySql">
        update iam_project
        set name = #{project.name},
            description=#{project.description},
            image_url=#{project.imageUrl},
            last_updated_by=#{project.lastUpdatedBy},
            last_update_date=#{project.lastUpdateDate},
            type=#{project.type},
            category=#{project.category}
         where id = #{project.id}
    </update>

    <select id="page" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from iam_project
        where 1=1
        <if test="iamProject.organizationId != null">
            and organization_id = #{iamProject.organizationId}
        </if>

        <if test="iamProject.name != null">
            AND name LIKE concat(concat('%',#{iamProject.name}),'%')
        </if>
        <if test="iamProject.code != null">
            AND code LIKE concat(concat('%',#{iamProject.code}),'%')
        </if>
        <if test="iamProject.isEnabled != null">
            AND is_enabled = #{iamProject.isEnabled}
        </if>
        <if test="iamProject.category != null">
            AND category = #{iamProject.category}
        </if>
    </select>
    <select id="getUserProjects" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from (
        select ip.*, iu.real_name as real_name
        from iam_project ip
        inner join iam_member_role imr on ip.id = imr.source_id
        inner join iam_role role on role.id = imr.role_id
        left join iam_user iu on ip.created_by = iu.id
        where ip.is_enabled = true
        and imr.member_type = 'user'
        and imr.source_type = 'project'
        and role.is_enabled = true
        and ip.organization_id = #{organizationId}
        and imr.member_id = #{userId}
        <if test="@cn.hutool.core.util.StrUtil@isNotEmpty(searchName)">
            and ip.name like concat('%',#{searchName},'%')
        </if>
        group by ip.id
        ) ip
    </select>
    <select id="queryByCategory" resultType="com.crc.crcloud.steam.iam.model.dto.IamProjectDTO">
        select ip.id,ip.code,ip.name,ip.organization_id,io.name organization_name,ip.CREATION_DATE
        from iam_project ip
        left JOIN iam_organization io ON io.id=ip.organization_id
        where ip.is_enabled =1
        and IP.CATEGORY=#{category}
        order by CREATION_DATE desc
    </select>
    <select id="selectProjectsByUserIdAndCurrentOrgId" resultMap="BaseResultMap">
        SELECT DISTINCT iam_project.*
        FROM iam_project
        INNER JOIN iam_member_role ON iam_member_role.source_id = iam_project.id
        INNER JOIN iam_role ON iam_role.is_enabled = 1 and iam_role.id = iam_member_role.role_id AND
        iam_member_role.source_type = 'project'
        WHERE iam_member_role.member_id = #{userId}
        AND iam_project.organization_id = #{organizationId}
        <if test="project != null">
            <if test="project.name != null">
                AND iam_project.name LIKE concat('%',#{project.name},'%')
            </if>
            <if test="project.isEnabled != null">
                AND iam_project.is_enabled = #{project.isEnabled}
            </if>
        </if>
        ORDER BY creation_date desc

    </select>


</mapper>
