<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crc.crcloud.steam.iam.dao.IamProjectMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crc.crcloud.steam.iam.entity.IamProject">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="organization_id" property="organizationId"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="image_url" property="imageUrl"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="type" property="type"/>
        <result column="category" property="category"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                     id,
                     name,
                     code,
                     description,
                     organization_id,
                     is_enabled,
                     image_url,
                     object_version_number,
                     created_by,
                     creation_date,
                     last_updated_by,
                     last_update_date,
                     type,
                     category
        </sql>
    <update id="updateBySql">
        update iam_project
        set name = #{project.name},
            description=#{project.description},
            image_url=#{project.imageUrl},
            last_updated_by=#{project.lastUpdatedBy},
            last_update_date=#{project.lastUpdateDate},
            type=#{project.type},
            category=#{project.category}
         where id = #{project.id}
    </update>

    <select id="page" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from iam_project
        where 1=1
        <if test="iamProject.organizationId != null">
        and organization_id = #{iamProject.organizationId}
        </if>

        <if test="iamProject.name != null">
            AND name LIKE concat(concat('%',#{iamProject.name}),'%')
        </if>
        <if test="iamProject.code != null">
            AND code LIKE concat(concat('%',#{iamProject.code}),'%')
        </if>
        <if test="iamProject.enabled != null">
            AND is_enabled = #{iamProject.enabled}
        </if>
        <if test="iamProject.category != null">
            AND category = #{iamProject.category}
        </if>
    </select>
    <select id="queryAllProject" resultType="com.crc.crcloud.steam.iam.model.dto.IamProjectDTO">
        SELECT DISTINCT fd.id as id,
        fd.code as code,
        fd.organization_id as organization_id,
        fd.is_enabled as is_enabled ,
        fd.image_url as image_url,
        fd.name as name ,
        fd.created_by,
        fd.category as category,
        fd.creation_date as creation_date,
        iu.real_name as real_name
        FROM iam_project fd
        INNER JOIN iam_member_role imr on imr.source_id = fd.id
        INNER JOIN iam_role iro on iro.is_enabled = 1 and iro.id = imr.role_id and
        imr.source_type = 'project'
        LEFT JOIN iam_user iu on fd.created_by = iu.id
        WHERE  imr.member_id = #{iamProject.userId}
        AND fd.organization_id = #{iamProject.organizationId}
        <if test="iamProject.name != null and iamProject.name != ''">
            and fd.name LIKE CONCAT(CONCAT('%', #{iamProject.name}),'%')
        </if>
    </select>


</mapper>
