<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crc.crcloud.steam.iam.dao.IamRoleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crc.crcloud.steam.iam.entity.IamRole">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="fd_level" property="fdLevel"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="is_modified" property="isModified"/>
        <result column="is_enable_forbidden" property="isEnableForbidden"/>
        <result column="is_built_in" property="isBuiltIn"/>
        <result column="is_assignable" property="isAssignable"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                     id,
                     name,
                     code,
                     description,
                     fd_level,
                     is_enabled,
                     is_modified,
                     is_enable_forbidden,
                     is_built_in,
                     is_assignable,
                     object_version_number,
                     created_by,
                     creation_date,
                     last_updated_by,
                     last_update_date
        </sql>
    <select id="getUserRoles" resultMap="BaseResultMap">
        select distinct role.*
        from iam_role role inner join iam_member_role m_role on role.id = m_role.role_id
        where
        m_role.member_id = ${userId} and m_role.member_type = 'user' and m_role.source_type in
        <foreach collection="levels" item="level" separator="," open="(" close=")">
            #{level}
        </foreach>
    </select>
    <select id="selectRolesByLabelNameAndType" resultMap="BaseResultMap">
        SELECT ir.*
        FROM iam_role ir
        LEFT JOIN iam_role_label irl ON ir.id = irl.role_id
        LEFT JOIN iam_label il ON irl.label_id = il.id
        WHERE il.name = #{name}
        AND il.type = #{type}
    </select>
    <select id="selectRolesByMemberRole" resultMap="BaseResultMap">
        SELECT
        ir.id,
        ir.name,
        ir.code,
        ir.fd_level
        FROM
        iam_role ir
        LEFT JOIN
        iam_member_role imr ON imr.role_id = ir.id
        WHERE imr.source_id = #{memberRole.sourceId}
        AND imr.source_type=#{memberRole.sourceType}
        AND imr.member_id = #{memberRole.memberId}
        AND imr.member_type=#{memberRole.memberType}
        AND ir.is_enabled = 1
    </select>


</mapper>
