<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crc.crcloud.steam.iam.dao.IamUserMapper">


        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.crc.crcloud.steam.iam.entity.IamUser">
                    <id column="id" property="id" />
                    <result column="login_name" property="loginName" />
                    <result column="email" property="email" />
                    <result column="current_organization_id" property="currentOrganizationId" />
                    <result column="hash_password" property="hashPassword" />
                    <result column="real_name" property="realName" />
                    <result column="phone" property="phone" />
                    <result column="international_tel_code" property="internationalTelCode" />
                    <result column="image_url" property="imageUrl" />
                    <result column="profile_photo" property="profilePhoto" />
                    <result column="language" property="language" />
                    <result column="time_zone" property="timeZone" />
                    <result column="last_password_updated_at" property="lastPasswordUpdatedAt" />
                    <result column="last_login_at" property="lastLoginAt" />
                    <result column="is_enabled" property="isEnabled" />
                    <result column="is_locked" property="isLocked" />
                    <result column="is_ldap" property="isLdap" />
                    <result column="is_admin" property="isAdmin" />
                    <result column="locked_until_at" property="lockedUntilAt" />
                    <result column="password_attempt" property="passwordAttempt" />
                    <result column="object_version_number" property="objectVersionNumber" />
                    <result column="created_by" property="createdBy" />
                    <result column="creation_date" property="creationDate" />
                    <result column="last_updated_by" property="lastUpdatedBy" />
                    <result column="last_update_date" property="lastUpdateDate" />
        </resultMap>


        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                     id,
                     login_name,
                     email,
                     current_organization_id,
                     hash_password,
                     real_name,
                     phone,
                     international_tel_code,
                     image_url,
                     profile_photo,
                     language,
                     time_zone,
                     last_password_updated_at,
                     last_login_at,
                     is_enabled,
                     is_locked,
                     is_ldap,
                     is_admin,
                     locked_until_at,
                     password_attempt,
                     object_version_number,
                     created_by,
                     creation_date,
                     last_updated_by,
                     last_update_date
        </sql>
    <update id="fillHashPassword">
        update iam_user set hash_password = #{hashPassword},last_password_updated_at = now()  where  id = ${userId}
    </update>
    <select id="getHashPassword" resultType="java.lang.String">
        select hash_password from iam_user where id = ${userId}
    </select>
    <select id="pageQueryOrganizationUser" resultMap="BaseResultMap">
        select
            iam_user.*
        from iam_user as  iam_user inner join iam_user_organization_rel iuor on iam_user.id = iuor.user_id
        left join iam_member_role role on iam_user.id = role.member_id and role.member_type='user'
        where
        iuor.organization_id in
        <foreach collection="organizationIds" item="organizationId" open="(" close=")" separator=",">
            ${organizationId}
        </foreach>
        <if test="searchDTO.roleIds!=null and searchDTO.roleIds.size>0">
            and role.role_id in
            <foreach collection="searchDTO.roleIds" item="roleId" open="(" close=")" separator=",">
                ${roleId}
            </foreach>
        </if>
        and (
            1=1
            <if test="searchDTO.loginName!=null and searchDTO.loginName != ''">
                or iam_user.login_name like concat('%',#{searchDTO.loginName},'%')
            </if>
            <if test="searchDTO.realName!=null and searchDTO.realName != ''">
                or iam_user.real_name like concat('%',#{searchDTO.realName},'%')
            </if>
        )
        <if test="searchDTO.isLdap!=null">
            and iam_user.is_ldap = ${searchDTO.isLdap}
        </if>

    </select>

</mapper>
