<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crc.crcloud.steam.iam.dao.OauthLdapErrorUserMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crc.crcloud.steam.iam.entity.OauthLdapErrorUser">
        <id column="id" property="id"/>
        <result column="ldap_history_id" property="ldapHistoryId"/>
        <result column="uuid" property="uuid"/>
        <result column="login_name" property="loginName"/>
        <result column="email" property="email"/>
        <result column="real_name" property="realName"/>
        <result column="phone" property="phone"/>
        <result column="cause" property="cause"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                     id,
                     ldap_history_id,
                     uuid,
                     login_name,
                     email,
                     real_name,
                     phone,
                     cause,
                     object_version_number,
                     created_by,
                     creation_date,
                     last_updated_by,
                     last_update_date
        </sql>

    <select id="page" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oauth_ldap_error_user

    </select>


</mapper>
